/* src/components/Spot.css */

li.Spot {
  display: flex;
  align-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
}

li.Spot p {
  flex: 1;
  padding: 12px 24px;
  font-size: 150%;
}

li.Spot p.name {
  font-weight: bold;
}

li.Spot p.score {
  max-width: 50px;
}
